

/* debug */
.en-passant::before, .en-passant-o::before {
    content: "";
    position: fixed;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    z-index: 10;
    background: #ffff00;
}
.pawn::before {
    content: "";
    position: fixed;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    z-index: 10;
    background: #00ff00;
}
.castle::before {
    content: "";
    position: fixed;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    z-index: 10;
    background: #0000ff;
}
.check::before, .check-o::before {
    content: "";
    position: fixed;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    z-index: 10;
    background: #ff0000;
}
.castleable::before {
    content: "";
    position: fixed;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    z-index: 10;
    background: #ff00ff;
}
.disabled::after {
    content: "";
    position: fixed;
    width: calc(5rem - 10px);
    height: calc(5rem - 10px);
    z-index: 9;
    border: #000000 solid 5px;
}
@media screen and (max-width: 640px){
    .disabled::after{
        width: calc(4rem - 8px);
        height: calc(4rem - 8px);
        border: #000000 solid 4px;
    }
}
@media screen and (max-height: 640px){
    .disabled::after{
        width: calc(4rem - 8px);
        height: calc(4rem - 8px);
        border: #000000 solid 4px;
    }
}
@media screen and (max-width: 512px){
    .disabled::after{
        width: calc(3rem - 6px);
        height: calc(3rem - 6px);
        border: #000000 solid 3px;
    }
}
@media screen and (max-height: 512px){
    .disabled::after{
        width: calc(3rem - 6px);
        height: calc(3rem - 6px);
        border: #000000 solid 3px;
    }
}
@media screen and (max-width: 384px){
    .disabled::after{
        width: calc(2rem - 4px);
        height: calc(2rem - 4px);
        border: #000000 solid 2px;
    }
}
@media screen and (max-height: 384px){
    .disabled::after{
        width: calc(2rem - 4px);
        height: calc(2rem - 4px);
        border: #000000 solid 2px;
    }
}